<?xml version="1.0" encoding ="UTF-8"?>
<html>

<head>
    <title>Inscription</title>
</head>

<body>
    <form action="phpInscription.php" method="get">
        <table>
            <caption><b>Inscriptions</b></caption>
            <tr>
                <td>
                    <label for="login"> nom : </label>
                </td>
                <td>
                    <input type="text" id="login" name="login">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="mdp"> Mot de passe : </label>
                </td>
                <td>
                    <input type="password" id="mdp" name="mdp">    
                </td>
            </tr>
            
        </table>
        <input type="submit" value="inscription">
        <input type="reset" value="Réinitialiser" />
    </form>

</body>

</html>